@use 'global' as *;

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__wrap {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 14.6%;
  position: relative;
  @include mq('md') {
    width: 33.8%;
  }
}
.header__logo::before {
  content: '';
  display: block;
  padding-top: calc(40 / 120 * 100%);
}
.header__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.header__nav {
  margin-left: auto;
}
